.instruction-card {
    /* need this bottom margin to maintain gap between cards that are not being dragged */
    /*margin: 0 0 8px 0;*/
    text-align: left;
    padding: 30px 0;
}

.instruction-card--is-dragging {
    box-shadow: 0 0 20px rgba(180, 180, 180, 1);
}

.instruction-card .instruction-card__icon {
    width: 25px;
    height: 25px;
    /*margin-left: 40px;*/
}

.instruction-card .instruction-card__label {
    /*margin-left: 40px;*/
    text-transform: uppercase;
}

.instruction-card__detail {
    padding: 0 15px 0 40px;
}