.btn {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    width: 80%;
    margin-left: 10%;
    cursor: pointer;
}

.btn:active {
    filter: brightness(85%);
}

.btn > .svg-inline--fa {
    margin-right: 7px;
}