.pending-instruction-queue__container {
    min-height: 100%;
    border: var(--pending-instruction-list-font-colour) 2px dashed;
    padding: 20px;
}

.pending-instruction-queue__title {
    background-color: var(--pending-instruction-title-background-colour);
    color: var(--pending-instruction-title-font-colour);
}

.pending-instruction-queue__list {
    overflow: auto;
    background-color: var(--pending-instruction-list-background-colour);
    color: var(--pending-instruction-list-font-colour);
    padding: 0 30px 0 30px;
}

/*.pending-instruction-queue__list--dragging-over {*/
    /*background-color: rgba(81, 203, 238, 1);*/
/*}*/

.pending-instruction-queue__list--drag-in-progress .pending-instruction-queue__container {
    border: var(--pending-instruction-list-font-colour) 2px dashed;
    animation-name: border_colour_change;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes border_colour_change {
    from { border: var(--pending-instruction-list-font-colour) 2px dashed; }
    to { border: var(--pending-instruction-title-background-colour) 2px dashed; }
}