.header {
    background-color: var(--accent-colour);
}

.header__logo {
    text-align: center;
    background-color: var(--accent-colour);
    color: white;
    font-size: x-large;
}

.header__logo--dim {
    opacity: 0.5;
}

.header__logo-img {
    width: 25px;
    height: 25px;
    opacity: 0.85;
    margin-top: -5px;
}

.header__menu-bar {
    font-weight: 200;
    padding: 12px;
    text-align: center;
    background-color: var(--menu-background-colour);
    color: var(--menu-font-colour);
    font-size: xx-large;
}