.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.draggable-item {
  background-color: grey;
  userSelect: 'none';
  padding: 16px; /* 8 * 2 */
  margin : 0 0 8px 0;
}

.draggable-item.dragging {
  border: red solid 1px;
  background-color: lightgreen;
}